:root {
--primary-color: #201e20;
--secondary-color: #ddc3a5;
--tertiary-color: #d7b98e;
--quaternary-color: #3C2A21;
}

body {
margin: 0;
padding: 0;
background-color: var(--primary-color);
color: var(--secondary-color);
font-size: calc(1vw + 1vh + 1vmin);
}

h1 {
font-size: calc(1.5vw + 1.5vh + 1.5vmin);
margin-top: 10vh;
margin-bottom: 2vh;
font-weight: lighter;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 0.05em;
}

table {
margin: 0 auto;
}

.search-container {
display: flex;
}

input[type="text"] {
border: none;
border-radius: 5px 0 0 5px;
padding: 10px;
flex-grow: 1;
font-size: max(1vw, 14px);
color: var(--primary-color);
background-color: var(--tertiary-color);
}

input[type="text"]:focus {
outline: none;
}

.search-button {
color: var(--primary-color);
background-color: var(--secondary-color);
border: none;
border-radius: 0 5px 5px 0;
padding: 10px;
font-size: max(1vw, 14px);
cursor: pointer;
}
